.git
.gitignore
.gitattributes
.github

.env
.env.*
!.env.example

vendor
node_modules

storage/*.key
storage/app/*
!storage/app/.gitignore
!storage/app/public
storage/app/public/*
!storage/app/public/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore
storage/pail/*
!storage/pail/.gitignore

bootstrap/cache/*.php

database/*.sqlite
database/*.sqlite-journal

tests
.phpunit.result.cache
.phpunit.cache
phpunit.xml

.idea
.vscode
.nova
.zed
.cursor
.claude

README.md
docs
LICENSE

Dockerfile
.dockerignore
docker-compose*.yml
